.myBtn:hover {
    background: rgb(15, 52, 60)
}

.myBtn  {
    border: 1px solid black;
    background: rgb(35, 78, 87);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    border-radius: 4px;
    padding: 10px 24px;
    transition-duration: 0.4s;
}