.about-intro {
    color: white;
    font-family: "Courier New", Courier, monospace;
    
}

.words {
    font-size: 26px;
}


hr {
    border: 1px solid white;
    opacity: 0.5
}

.intro {
    padding: 5px;
}