.about-intro {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.words {
    font-size: 26px;
}

.slideIn1 {
    animation: 0.5s ease-out 0s 1 slideInFromBottom;
}
.slideIn2 {
    animation: 1s ease-out 0s 1 slideInFromBottom;
}
.slideIn3 {
    animation: 1.5s ease-out 0s 1 slideInFromBottom;
}

/* @keyframes changeSize {
    from {font-size: 4rem}
    to {font-size: 3rem}
  } */

@keyframes slideInFromBottom {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(0);
    }
  }  

@media screen and (min-width: 800px){
    .intro-mobile {
      display: none;
    }
  }

@media screen and (max-width: 800px){
    .intro {
      display: none;
    }
  }