.about-intro {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.words {
    font-size: 26px;
}

.slideIn1, .slideIn2, .slideIn3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.intro {
  margin-left: 13px;
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.slideIn1 {
    animation: 0.5s ease-out 0s 1 slideInFromBottom;
}
.slideIn2 {
    animation: 1s ease-out 0s 1 slideInFromBottom;
}
.slideIn3 {
    animation: 1.5s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
  }  

@keyframes slideInFromBottom {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(0);
    }
  }  

@media screen and (min-width: 800px){
    .intro-mobile {
      display: none;
    }
  }

@media screen and (max-width: 800px){
    .intro {
      display: none;
    }
  }