.home-row {
    display: flex;
    align-items: center;
}

.contact-row {
    display: flex;
    align-items: center;
    position: absolute;
    right: 5%;
    top: 5%;
}

.home-container {
    padding: 2%;
    overflow: auto;
}