.home-row {
    display: flex;
    align-items: center;
    margin-top: 75px;
}

.contact-row {
    display: flex;
    align-items: center;
    position: absolute;
    right: 5%;
    top: 5%;
}

.home-container {
    padding: 2%;
    height: 85vh;
    overflow-x: hidden; 
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}