.navbartext{
    margin-right: 20px;
    font-size: 24px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.brand {
    font-size: 32px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.navhead {
    color: #21BBAB;
}