body {
  /* The image used */
  background-image: url(./utils/images/background.jpg);
  /* Full height */
  height: 100vh; 
  background-attachment: fixed;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

*::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(77, 243, 255, 0.3);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  /* border: 3px solid creates padding around scroll thumb */
}

#root {
  min-height: 100vh;
}