body {
  /* The image used */
  background-image: url(./utils/images/background.jpg);
  /* Full height */
  height: 100vh; 
  background-attachment: fixed;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}